<%= javascript_include_tag "concerto_audio/application" %>
<%= stylesheet_link_tag "concerto_audio/application" %>

<fieldset>
  <legend><span>Audio</span></legend>
  <%= form.fields_for :config do |config| %>
    <div class="clearfix">
      <%= config.label :url, "URL" %>
      <div class="input">
        <%= config.text_field :url, :placeholder => 'http://178.254.19.208:6200/;?icy=http', :class => "input-xxlarge", :value => @content.config['url'] %>
      </div>
    </div>
  <% end %>
</fieldset>
